.img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    z-index: -1;
}

.img_v2{
    width: 600px;
    height: 600px;
}

.bg-gray{
    background-color: rgb(238, 237, 237);
}
.bg-misty-rose-lighter {
    background-color: rgba(245, 229, 227, 0.877);
}

.content {
    line-height: 550px;
}

.menu-bg {
    background-image: url('./images/background/bg-14.jpg');
    padding: 10px;

}

.social-icons {
    display: flex;
    align-items: center; /* Căn chỉnh theo chiều dọc */
}

.social-icons a {
    margin-right: 20px; /* Khoảng cách giữa các biểu tượng */
}

.social-icons a:last-child {
    margin-right: 0; /* Bỏ khoảng cách sau biểu tượng cuối cùng */
}

.social-icons svg {
    width: 32px; /* Thiết lập chiều rộng cố định */
    height: 32px; /* Thiết lập chiều cao cố định */
    display: block;
}


/* =================================FONT======================================== */
.text-red {
    color: rgb(163, 11, 11);
}

body {
    font-family: 'Lora', serif;
    font-size: 18px;
    padding: 0 !important;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-weight: 500;
    font-style: normal;
    }

.font-lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    /* font-weight: weight;
    font-style: normal; */
    font-weight: 600;
    font-style: normal;
    }

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    }
    

.container-fluid {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover; 
}

 .img-fluid {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover; 
}

 .img-fluid-1 {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    width: 300px;
    max-width: 100%;
    height: auto;
    object-fit: cover; 
}
.content-center-1{
    width: 300px;
}

/* ============================IMAGE================================== */
.image-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;  /* Thêm khoảng cách với phần text phía trên */
}

.image-container .main-img {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    transform: translate(0, 0);  /* Đặt về vị trí gốc */
    z-index: 0;
    margin-top: 20px;
}
.image-container .main-img-1  {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    transform: translate(100%, 0%); /* Vị trí gốc */
    z-index: 0;
    margin-top: 0;
    opacity: 0; /* Bắt đầu ở trạng thái mờ */
    /*transition: opacity 2s ease-in-out; /* Hiệu ứng mờ đến rõ dần trong 2 giây */
}
.image-container .main-img-2  {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    transform: translate(-100%, 0%); /* Vị trí gốc */
    z-index: 0;
    margin-top: 0;
    opacity: 0; /* Bắt đầu ở trạng thái mờ */
    /* transition: opacity 2s ease-in-out; /* Hiệu ứng mờ đến rõ dần trong 2 giây */
}

.image-container .main-img.show .main-img-1.show .main-img-2.show .small-img1.show .small-img2.show {
    opacity: 5; /* Rõ dần */
}


.small-img1 {
    position: absolute;
    top: 15%;
    right: -5%;
    transform: translate(0%, -70%);
    width: 35%;
    height: auto;
    border-radius: 0.5rem;
    z-index: 1;  /* Đảm bảo ảnh nhỏ nằm trên ảnh lớn */
    opacity: 0;
}

.small-img2 {
    position: absolute;
    bottom: -3%;
    left: -35%;
    transform: translate(-50%, 0%);
    width: 75%;
    height: auto;
    border-radius: 0;
    z-index: 1;  /* Đảm bảo ảnh nhỏ nằm trên ảnh lớn */
    opacity: 0;
}

.position-relative {
    position: relative;
}

.position-relative .col {
    padding-left: calc(10%);
    padding-right: calc(10%);
}
.gallery img {
    width: 100%;
    height: auto;
    display: block;
}
.avatar-img {
    max-width: 100%;
    height: auto;
}

.signature-img {
    position: absolute;
    bottom: -50px; /* Điều chỉnh khoảng cách từ đáy ảnh */
    right: 0;
}


.content-container {
    position: relative;
}
.gallery .col {
padding: 5px;

  }
  .gallery .col {
    padding: 5px;
  }
  .custom-container {
    width: 80%; /* Chiếm 80% màn hình, cách đều hai bên */
    margin: 0 auto; /* Căn giữa khối */
}
.custom-content {
    padding-left: 7%; /* Cách khung bên trái 10% */
}
.custom-iframe {
    width: 90%; /* Chiếm 90% chiều rộng của cột phải */
    height: 0;
    padding-bottom: 80%; /* Đảm bảo hình vuông bằng cách thiết lập padding-bottom bằng với width */
    position: relative;
}
.custom-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width:90%;
    height: 80%;

}

.carousel-item {
    transition: transform 0.4s ease-in-out; /* Chuyển động mượt */
    transform: translateX(0); /* Vị trí mặc định */
}

.carousel-item img {
    width: 100%;
    height: auto;
}

/* Custom animation for the offcanvas menu */
.custom-offcanvas-animation {
    transform: translateX(-100%); /* Hidden by default (off-screen to the left) */
    opacity: 0; /* Initially invisible */
    transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out; /* Smooth transition */
}

.custom-offcanvas-animation.show {
    transform: translateX(0); /* Slide in from the left */
    opacity: 1; /* Fade in */
}


/* ====================================PHONE==================================== */
@media (max-width: 768px) {
    body {
    overflow-x: hidden;
    overflow-y: hidden;
    }

    .img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    z-index: -1;
    }
    
    .image-container .main-img-1{
        position: relative;
        top: 0;
        width: 100%;
        height: auto;
        transform: translate(100%, 0%); /* Vị trí gốc */
        z-index: 0;
        margin-top: 0;
        opacity: 0; /* Bắt đầu ở trạng thái mờ */
        /*transition: opacity 2s ease-in-out; /* Hiệu ứng mờ đến rõ dần trong 2 giây */
    }
    .image-container .main-img-2 {
        position: relative;
        top: 0;
        width: 100%;
        height: auto;
        transform: translate(-100%, 0%); /* Vị trí gốc */
        z-index: 0;
        margin-top: 0;
        opacity: 0; /* Bắt đầu ở trạng thái mờ */
        /*transition: opacity 2s ease-in-out; /* Hiệu ứng mờ đến rõ dần trong 2 giây */
    }

    /* Đảm bảo navbar không gây ra khoảng trống */
    .navbar {
    width: 100%;
    }

    .carousel-item img {
        width: 200%; /* Đặt kích thước lớn hơn cho mobile */
    }
    /* Căn chỉnh offcanvas để không gây ra khoảng trống */
    .offcanvas {
    width: 100%;
    height: 60%;
    --bs-offcanvas-width: 100%;

    }
    .offcanvas-body{
    width: 100%;
    padding: 0px;
    padding-left: 20px;
    }
      

    .signature-img {
        bottom: -50px; /* Điều chỉnh khoảng cách từ đáy ảnh cho thiết bị di động */
        right: 0; /* Điều chỉnh khoảng cách từ bên phải ảnh cho thiết bị di động */
    }
    .maps{
        min-width: 100%;
        max-height: 100%;
    }

    .custom-iframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
    }
    
    .img-fluid-mobile {
        max-height: 70vh; 
    }
    .custom-img-size {
        max-width: auto; 
        height: auto;
        margin-bottom: 1px;
    }
    .custom-img-size-1 {
        max-width: 100%; 
        height: auto;
        position: relative;
    }

    .responsive-text {
        font-size: 4.5vw; /* Kích thước chữ thay đổi theo chiều rộng của viewport */
        padding-left: 2%; 
        padding-right: 2%; 
    }
    .custom-content {
        padding-left: 5%; /* Cách khung bên trái 10% */
    }
    .hero-section {
        flex-direction: column;
    }
    .image-container .small-img2, .small-img1 {
        display: none;
    }

    .image-container {
        flex-direction: column;
        align-items: center;
    }

    .floating-buttons {
        bottom: 15px;
        right: 15px;
    }

    .floating-buttons a {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
}



/* ============================================TRANSTATION======================================= */

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey;
border-radius: 10px;
}


::-webkit-scrollbar-thumb {
background: rgb(92, 92, 92);
border-radius: 10px;
}

/* *{
    overflow-x: hidden;
    padding: 0;
} */


html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
    padding-right: 0 !important;
}

body {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.offcanvas {
    background-image: url('./images/background/bg-14.jpg');
    background-size: cover !important;
}

.opacity {
    opacity: 0.5;
}

.maps {
    width: 100%;
    height: 100%;
}

.color-fb {
    color: white;
} 

img, video, p, h3, h4, h5, h6 {
    transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

img:hover, video:hover, p:hover, h3:hover, h4:hover, h5:hover, h6:hover{
    transform: scale(1.05);
    opacity: 0.8;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.btn  {
    transition: transform 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}


/* =====================END============================ */
