<nav class="navbar menu-bg">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <button class="navbar-toggler ms-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <a class="fs-2 fw-bold navbar-brand mx-auto font-raleway" href="#" v-text="getContent('navbarTitle')"></a>
    <div class="me-3" @click="switchLanguage">
      <img v-if="lang === 'vi'" :src="getImage('{{ url_for('static', filename='images/logo/vn.png') }}')" alt="" width="40" height="25">
      <img v-if="lang === 'en'" :src="getImage('{{ url_for('static', filename='images/logo/en.png') }}')" alt="" width="40" height="25">
    </div>
  </div>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
      <div class="d-flex align-items-center">
        <h5 class="offcanvas-title overflow-hidden" id="offcanvasNavbarLabel" v-text="getContent('Close')"></h5>
        <button type="button" class="btn-close overflow-hidden" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-4">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="trang-chu" v-text="getContent('home')"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="dat-hen" v-text="getContent('schedule')"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="ve-chung-toi" v-text="getContent('aboutUs')"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="bang-gia-dich-vu" v-text="getContent('price')"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="chinh-sach-bao-hanh" v-text="getContent('policy')"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tin-tuc" v-text="getContent('news')"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
