{% extends 'index.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock css %}

{% block html %}
<div class="mt-5 mb-lg-4 mb-sm-5 mb-3">&#160;</div>
<div class="container-fluid">
    <div class="row overflow-hidden fixed-top mb-5">
        {% include 'navbar.html' %}
    </div>
    <!--  -->
    <!-- <div class="container-fluid bg-light">
        <div class="container ">
            <div class="row g-0 bg-light position-relative">
            <div class="col-md-6 mb-md-0 p-md-4">
              <img src="{{ url_for('static', filename='images/price_list/img-6.jpg') }}" class="mt-5" alt="Image 1" style="width: 80%;" loading="lazy">
            </div>
            <div class="col-md-6 p-4 ps-md-0 mt-1 mb-5">
              <h5 class="mt-0">Columns with stretched link</h5>
              <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
              <a href="#" class="stretched-link">Go somewhere</a>
            </div>
          </div>
        </div> 
    </div> -->
    <!--  -->
    
    <!--  -->
    <div class="container-fluid bg-light">
        <div class="container">
            <div class="row g-0 bg-light position-relative">
                <div class="col-md-6 p-4 ps-md-0 mt-5 mb-5">
                    <h5 class="mt-0">Các cột với liên kết kéo dài</h5>
                    <p>Một ví dụ khác về nội dung giữ chỗ cho thành phần tùy chỉnh này. Nó nhằm mục đích mô phỏng những gì nội dung thực tế có thể trông như thế nào, và chúng tôi đang sử dụng nó ở đây để cung cấp cho thành phần một chút nội dung và kích thước.</p>
                    <a href="#" class="stretched-link">Đi đến đâu đó</a>
                </div>
                <div class="col-md-6 mb-md-0 p-md-4">
                    <img src="..." class="w-80 mt-5 mb-5" alt="...">
                </div>
            </div>
        </div> 
    </div>
    


    <div class="container-fluid text-center">
        <div class="row bg-light position-relative" >
            <div class="overflow-hidden">
                <h5 class="overflow-hidden  fw-bold text-dark text-center mb-3 mt-3 mx-1" v-text="getContent('content-H56')"></h5>
            </div>
        </div>
      </div>
    {% include 'footer.html' %}
</div> 
    
{% endblock html %}

{% block js %}
<script src="{{ url_for('static', filename='index.js') }}"></script>
<script src="{{ url_for('static', filename='function.js') }}"></script>
{% endblock %}