{% extends 'index.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock css %}

{% block html %}
<div class="mt-5 mb-lg-4 mb-sm-5 mb-3">&#160;</div>
<div class="container-fluid">
    <div class="row overflow-hidden fixed-top mb-5">
        {% include 'navbar.html' %}
    </div>
    <!--  -->
    <div class="container-fluid  text-center">
        <div class="row bg-light position-relative" >
            <div class="overflow-hidden">
                <h5 class="overflow-hidden fw-bold text-dark text-center mb-4 mt-4 responsive-text mx-2" v-text="getContent('content-H0')"></>
            </div>
        </div>
      </div>
    <!-- Hero Section -->
    <div class="container-fluid bg-dark">
        <div class="container">
            <div class="row hero-section">
                <div class="col-lg-7 col-md-12 col-ms-12 col-12 py-5 text-light text-lg-start text-md-start text-center">
                    <p class="fs-5 mt-5 fw-bold ">KHÁM PHÁ PHONG CÁCH RIÊNG BIỆT TRONG BẠN</p>
                    <h1 class="display-3 lead fw-bold py-3">LEE HAIR SALON</h1>
                    <p class="fs-5 mb-5 ">Cập nhật các tin tức mới nhất tại trang chủ của chúng tôi.</p>
                    <!-- <p class="fs-5 mb-5">331 Trần Hưng Đạo, Phường Cô Giang, Quận 1, Thành phố Hồ Chí Minh</p> -->
                    <a class="btn btn-primary btn-lg  " href="https://www.facebook.com/hairsalonleephat/" role="button" target="_blank">Theo dõi ngay</a>
                </div>
                <div class="col-lg-5 col-md-12 col-ms-12 col-12">
                    <div class="d-flex justify-content-center align-items-center position-relative image-container">
                        <img src="{{ url_for('static', filename='images/background/bg-6.jpg')}}" class="img-fluid rounded main-img shadow-md" alt="Main image">
                        <img src="{{ url_for('static', filename='images/avatar/Founder/avatar-2.jpg')}}" class="position-absolute small-img1 rounded-2 shadow-md" alt="Small image 1">
                        <img src="{{ url_for('static', filename='images/about-us/img-6.jpg')}}" class=" position-absolute small-img2 rounded-2 shadow-md" alt="Small image 2">
                    </div>
                </div>
            </div>
        </div>
        <div class="py-4"></div>
    </div>
    <!-- End Hero Section -->

    <div class="container-fluid text-center">
        <div class="row bg-light position-relative">
            <div class="overflow-hidden">
                <h5 class="overflow-hidden fw-bold text-dark text-center mb-3 mt-3 mx-1" v-text="getContent('content-H56')"></h5>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</div> 
    
{% endblock html %}

{% block js %}
<script src="{{ url_for('static', filename='index.js') }}"></script>
<script src="{{ url_for('static', filename='function.js') }}"></script>
{% endblock %}
