{% extends 'index.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock css %}

{% block html %}
<div class="mt-5 mb-lg-4 mb-sm-5 mb-3">&#160;</div>

<div class="container-fluid bg-dark text-center">
  <div class="container">
    <div class="row justify-content-center py-3">
      <div class="col-md-5 d-flex justify-content-center">
        <div class="card mx-4 my-4 w-100">
          <img class="img-fluid card-img-top" src="{{ url_for('static', filename='images/about-us/img-7.jpg') }}" alt="Background Image" loading="lazy">
        </div>
      </div>
      <div class="col-md-5 d-flex justify-content-center3">
        <div class="card mx-4 my-4 w-100">
          <img class="img-fluid card-img-top" src="{{ url_for('static', filename='images/about-us/img-8.jpg') }}" alt="Background Image" loading="lazy">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid text-center">
  <div class="row bg-light position-relative">
    <div class="overflow-hidden">
      <h5 class="overflow-hidden fw-bold text-dark text-center mb-3 mt-3 mx-1" v-text="getContent('content-H56')"></h5>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row overflow-hidden fixed-top">
    {% include 'navbar.html' %}
  </div>
  {% include 'footer.html' %}
</div>

{% endblock html %}

{% block js %}
<script src="{{ url_for('static', filename='index.js') }}"></script>
<script src="{{ url_for('static', filename='function.js') }}"></script>
{% endblock js %}
